body {
    background-color: rgb(35, 35, 35);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

#mainDiv {
    background-color: rgb(50, 50, 50);
    margin: 20px auto 0 auto;
    width: 40%;
    height: 75%;
}

#textInfoDiv {
    margin-left: 200px;
}

p {
    color: rgb(255, 255, 255)
}

img {
    float: left;
    width: 180px;
    height: 180px;
}

label {
    color: rgb(255, 255, 255);
}

#container {
    display: flex;
    margin-top: 65px;
}

#recordBtn {
    background-color: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: block;
}

#recordsDiv {
    width: 50%
}

ul {
    list-style-type: none;
    overflow-y: scroll;
    height: 150px;
}

li {
    margin-top: 6px;
}